---
layout: default
---

<div class="card-deck main-deck">
	{% for post in paginator.posts %}
		<div class="card">
			{% if post.cover %}
				<img class="card-img-top" src="{{ post.cover }}"/>
			{% endif %}
			<div class="card-body">
				<h5 class="card-title">{{ post.title }}</h5>
				<p class="card-text">{{ post.excerpt | strip_html }}</p>
			</div>
			<div class="card-footer">
				<time datetime="{{ post.date | date: "%Y-%m-%d%T%H:%M" }}"><small class="text-muted">Posted: {{ post.date | date: "%m/%-d/%Y" }}</small></time>
			</div>
		</div>
	{% endfor %}
</div>

<div class="paginator">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="mui-btn mui-btn-primary"><i class="fa fa-chevron-circle-left"></i>Previous</a>
    {% endif %}
    <span>Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="mui-btn mui-btn-primary">Next<i class="fa fa-chevron-circle-right"></i></a>
    {% endif %}
</div>
