---
layout: default
---

<div class="card-columns main-set">
	{% for post in paginator.posts %}
		<div class="card m-3">
			<a class="card-block stretched-link text-decoration-none" href="{{ post.url | prepend: site.baseurl }}">
				{% if post.cover %}
					<img class="card-img-top" src="{{ post.cover }}"/>
				{% endif %}
				<div class="card-body">
					<h5 class="card-title">{{ post.title }}</h5>
					<p class="card-text">
						{% assign categories = post.categories %}
						{% for category in categories %}
						<button class="btn-{{category | slugize | downcase}} btn-category ">{{ category }}</button>
						{% endfor %}
					</p>
					<p class="card-text">{{ post.excerpt | strip_html }}</p>
				</div>
				<div class="card-footer">
					<time datetime="{{ post.date | date: "%Y-%m-%d%T%H:%M" }}"><small class="text-muted">Posted: {{ post.date | date: "%m/%-d/%Y" }}</small></time>
				</div>
			</a>
		</div>
	{% endfor %}
</div>



<nav aria-label="Index Page Selector">
	<ul class="pagination justify-content-center">
		<li class="page-item {% if paginator.previous_page == nil %}disabled{% endif %}">
			<a class="page-link" href="{{ paginator.previous_page_path }}" tabindex="-1">Previous</a>
		</li>

		{% for page in (1..paginator.total_pages) %}
		{% if page == 1 %}
			{% assign pageurl = "/" %}
		{% else %}
			{% assign pageurl = "/page" | append: page %}
		{% endif %}

		<li class="page-item"><a class="page-link {% if page == paginator.page %}active{% endif %}" href="{{ pageurl }}">{{ page }}</a></li>

		{% endfor %}

		<li class="page-item {% if paginator.next_page == nil %}disabled{% endif %}">
			<a class="page-link" href="{{ paginator.next_page_path }}">Next</a>
		</li>

	</ul>
</nav>
