<header>
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		<a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="{{ site.url | append: site.baseurl }}">Home</a>
				</li>
				<li class="nav-item">
					<a href="/about/" class="nav-link">About Me</a>
				</li>
				<li class="nav-item">
					<a href="/resume/" class="nav-link">Resume</a>
				</li>
			</ul>
			<ul class="navbar-nav">
				{% if site.links.github %}
					<li class="nav-item"><a class="nav-link" href="https://github.com/{{ site.links.github }}" target="_blank"><i class="fa fa-github"></i></a></li>
				{% endif %}
				{% if site.links.email %}
					<li class="nav-item"><a class="nav-link" href="mailto:{{ site.links.email }}"><i class="fa fa-envelope"></i></a></li>
				{% endif %}
			</ul>
		</div>
	</nav>
</header>
