$content-width: 800px;
$main: #aeee00;
$font-style: 'Open Sans', sans-serif;
$font-color: #f8f6f2;
$link-color: #0a9dff;
$link-hover-color: $main;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #fade3e;
$light: #E7EDF4;
$header:  #35322d;
$background: #1c1b1a;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
