---
layout: default
---
<body style="padding: 0">

  <article class="post-full">
    <header class="bg-holder post-page {% if page.color %}bg-{{ page.color }}{% endif %}" style="{% if page.cover %}background:url({{page.cover}}) no-repeat center center; background-size: cover{% endif %}">
      {% if page.cover %}<div class="img-overlay"></div>{% endif %}
    </header>
    <div class="mui-container mui-panel post-content">
      <h1 class="article-title">{{ page.title }}</h1>
		<div class="post-categories">
			<b>Categories:</b>
			{% if post %}
			{% assign categories = post.categories %}
				{% else %}
					{% assign categories = page.categories %}
				{% endif %}
				{% for category in categories %}
				<a href="{{site.baseurl}}/categories.html#{{category|slugize}}">{{category}}</a>
				{% unless forloop.last %}, &nbsp;{% endunless %}
			{% endfor %}
		</div>

      </p>
      {% if page.tags and page.tags.size > 0 %}
        <p class="post-tag-container">
            {% for tag in page.tags %}
            <span class="post-tag"><i class="fa fa-tag"></i>{{ tag }}</span>
            {% endfor %}
        </p>
      {% endif %}
      <div class="post-html">
          {{ content }}
      </div>
    </div>
  </article>
